.DS_Store
/build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.swiftpm/
.build/
Packages/
*.swp
*.swm
*.swo
*.swl
xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint
Tests/**/__Snapshots__/*
!Tests/SnapshotTests/__Snapshots__/.gitkeep
